body {
	background-color: rgb(246, 248, 248);
}

h1,h2,h3,h4,h5,h6,p,span,a,li {
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 42px;
    font-weight: 100;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    
    margin-top: 50px;
}

.subtitle {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    
    max-width: 600px;
    margin: 0 auto;
}